rect.background {
	fill:white;
}

.track rect {
	fill:#ddd;
}

.sequence_name {
	font-family: monospace;
	font-size: 20px;
	fill: rgb(50,50,50);
	
}
.coordinate {
	font-family: monospace;
	font-size: 10px;
	fill: rgb(150,150,150);
}

.pairbase {
	font-family: monospace;
	fill: rgb(50,50,50);
}
.position_label {
	fill: rgb(100,100,100);
}
.gap rect{
	fill:#f7f7f7;
}

.match rect{
	fill:#aec7e8;
}
.mismatch rect{
	fill:#ffbb78;
}
.out-box {
  width: 95%;
  display: block;
  border-width: thin;
}

.username_input {
  font-weight:300;
  width: 25%;
  display: block;
  clear:both;

}

.select-box {
   width: 95%;
}